* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.padding-site {
  padding: 0 98px;
}

.header {
  padding-top: 63px;
}

.menu-logo {
  float: left;
}

.menu {
  float: right;
}

.menu-list {
  list-style-type: none;
  float: left;
}

.menu-link {
  color: #8c8c8c;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
  padding: 10px 13px;
  font-weight: 700;
}

.menu-link:hover {
  color: #212121;
  border-bottom: 3px solid #212121;
}

.menu-link:active {
  border-bottom: 3px solid #212121;
}

.menu-link-active {
  color: #212121;
  font-weight: 700;
  border-bottom: 3px solid #212121;
}

.slider {
  height: 800px;
  background-image: url(../img/slider_bg.jpg);
  position: relative;
}

.slider-text {
  margin-top: 279px;
}

.slider-trending {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #43a047;
}

.slider-h2 {
  font-size: 62px;
  line-height: 72px;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: -0.05em;
}

.slider-content {
  font-size: 14px;
  line-height: 24px;
  color: #6c6c6c;
  width: 458px;
  margin-top: 17px;
}

.button {
  display: inline-block;
  width: 212px;
  height: 45px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.341);
  border-radius: 22.5px;
  text-decoration: none;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #212121;
  margin-top: 32px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\02C3";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button:active {
  box-shadow: 0px 1px 3px 0px rgba(33, 33, 33, 0.341);
  transform: translateY(2px);
}

.pagination {
  position: absolute;
  bottom: 19px;
  text-align: center;
  width: 1170px;
}

.circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  opacity: 0.2;
  background: #212121;
  border-radius: 50%;
  margin: 5px;
}

.circle:hover {
  opacity: 1;
}

.circle-active {
  width: 40px;
  height: 40px;
  background: #212121;
  border-radius: 50%;
  opacity: 1;
  margin-bottom: 0px;
}

.featured-content {
  padding-top: 120px;
  height: 169px;
  text-decoration: none;
}

.featured-text {
  text-decoration: none;
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 700;
  color: #6c6c6c;
  border-bottom: 1px solid #6c6c6c;
  padding: 6px 22px;
}

.featured-text-active {
  color: #212121;
  border-bottom: 3px solid #212121;
  width: 300px;
  padding: 6px 22px;
}

.featured-container {
  float: left;
}

.explore-button a {
  text-decoration: none;
  color: #212121;
}

.explore-button {
  padding-top: 18px;
  float: right;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.explore-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.explore-button span:after {
  content: "\02C3";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.explore-button:hover span {
  padding-right: 25px;
}

.explore-button:hover span:after {
  opacity: 1;
  right: 0;
}
.product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
}

/* эффект для кнопки на изображениях */
.featured-product {
  position: relative;
  display: flex;
}

.featured-product:hover .overlay {
  opacity: 0.9;
}

.overlay {
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ffffff;
  border: 1px solid #9c9c9c;
}

.img-button {
  margin-top: 52px;
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(33, 33, 33, 0.341);
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  line-height: 58px;
  color: #212121;
  text-align: center;
}

.overlay-big {
  padding-top: 30px;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #ffffff;
  border: 1px solid #9c9c9c;
}

.featured-product:hover .overlay-big {
  opacity: 0.9;
}

.img-button:active {
  box-shadow: 0px 1px 3px 0px rgba(33, 33, 33, 0.341);
  transform: translateY(2px);
}

.overlay-header {
  margin-top: 20%;
  font-size: 22px;
  line-height: 29px;
  font-weight: 700;
  color: #212121;
}

.overlay-text {
  text-align: center;
  font-size: 12px;
  line-height: 21px;
  font-weight: 300;
  color: #6c6c6c;
  padding: 0 32px;
}

.overlay-header:hover,
.overlay-text:hover {
  cursor: default;
} /* /эффект для кнопки на изображениях*/

.promo-container {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.promo-item-left {
  background-image: url(../img/promo_img1_148.jpg);
  width: 683px;
  height: 683px;
  padding-left: 52px;
}

.promo-item-right {
  background-image: url(../img/promo_img_132.jpg);
  width: 683px;
  height: 683px;
  padding-left: 52px;
}

.slider-promo {
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #1e88e5;
}

.slider-h2-promo {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #212121;
}

.trending-products-container {
  margin-top: 120px;
}

.trending-imgs {
  margin-top: 64px;
}

.trending-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.trending-text {
  display: inline-block;
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 700;
  color: #212121;
  padding: 6px 22px;
}

.exclusive-container {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  width: 100%;
}

.exclusive-left {
  background-image: url(../img/product_1_lg_66.jpg);
  height: 570px;
  width: 570px;
}

.exclusive-right {
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exclusive-right img {
  display: block;
  width: 270px;
  height: 270px;
}

.exclusive-right img:hover {
  outline: 1px solid #6c6c6c;
}

.exclusive-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-hd {
  margin-top: 120px;
  height: 800px;
  background-image: url(../img/slider_84.jpg);
  position: relative;
}

.slider-hd-text {
  padding-top: 287px;
}

.slider-hd-header {
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #e53935;
}

.slider-hd-h2 {
  font-size: 62px;
  line-height: 72px;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: -0.05em;
}

.slider-hd-content {
  font-size: 14px;
  line-height: 24px;
  color: #6c6c6c;
  width: 458px;
  margin-top: 17px;
}

.slider-text-exclusive {
  margin-top: 186px;
  padding-left: 30px;
}

.slider-content-exclusive {
  font-size: 14px;
  line-height: 24px;
  color: #6c6c6c;
  width: 332px;
  margin-top: 17px;
}

.mobile-app {
  background-image: url(../img/back_img_44.jpg);
  height: 516px;
  margin-top: 120px;
}
.mobile-text {
  padding-top: 125px;
}
.slider-mobile {
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
}

.slider-h2-mobile {
  width: 507px;
  height: 144px;
  font-size: 62px;
  line-height: 72px;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: -0.05em;
}

.slider-mobile-content {
  margin-top: 24px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}

.app-button {
  width: 280px;
  display: flex;
  justify-content: space-between;
}
.app-button img {
  margin-top: 33px;
}

.app-button img:hover {
  opacity: 0.8;
}

.footer-container {
  width: 1366px;
  background-color: #f7f7f7;
}

.footer-top {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
}

.footer-text-header {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
}
.footer-contacts {
  width: 221px;
}

.footer-contacts-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #212121;
  margin-top: 24px;
}

.footer-info {
  width: 432px;
}

.footer-info-links {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
}

.footer-info-links-column {
  flex-direction: column;
}

.footer-info-links a {
  color: #212121;
}

.footer-info-links a:hover {
  border-bottom: 2px solid #212121;
}

.footer-touch {
  width: 363px;
}

.footer-touch-text {
  margin-top: 24px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #212121;
}

.footer-touch-email {
  margin-top: 26px;
  box-sizing: border-box;
}

.footer-touch-email input {
  position: relative;
  width: 315px;
  height: 48px;
  background-color: #ffffff;
  border: 1px solid #d9dee1;
}

.footer-touch-email input:hover {
  border: 1px solid #212121;
}

.email-button:hover {
  border: 1px solid #212121;
  cursor: pointer;
}

.footer-touch-email input:focus {
  border: 1px solid #212121;
  outline: none;
}

.email-text {
  padding-left: 19px;
  padding-right: 19px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #6c6c6c;
}

.email-button {
  position: absolute;
  padding: 16px 14px 15px 13px;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border: 1px solid #d9dee1;
}

.footer-bottom {
  min-height: 28px;
  padding-top: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.copy-terms {
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #6c6c6c;
}

.copy-terms a {
  color: #212121;
}

.copy-terms a:hover {
  border-bottom: 2px solid #212121;
}

.fa {
  padding: 7px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #212121;
  color: white;
  padding-left: 5px;
}

.fa-twitter {
  background: #212121;
  color: white;
  padding-left: 8px;
}

.fa-google {
  background: #212121;
  color: white;
}

.fa-pinterest {
  background: #212121;
  color: white;
}
